<div class="breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <h2 class="title">{% if page.page_type == "post" %}Post{% else %}Blog{% endif %}</h2>
                {% if page.page_type == "category" %}
                <p>Mostrando Posts da categoria: <b>{{ page.category }}</b> <a href="/"><b>X</b></a></p>
                {% endif %}
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <div class="breadcrumbs pull-right">
                    <ul>
                        <li>Você está aqui:</li>
                        <li><a href="{{ site.data.oncedev.root }}">Início</a></li>
                        <li>{% if page.page_type != "post" %}Blog{% else %}<a href="/">Blog</a>{% endif %}</li>
                        {% if page.page_type == "post" %}
                        <li>{{ page.title }}</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>