<div class="posts-block col-lg-9 col-md-9 col-sm-8 col-xs-12">
    {% for post in include.posts %}
        <article class="post hentry">
            {% include post_header.html post=post show_comments=true %}
            <div class="post-content">
                    {{ post.excerpt }}
            </div>
            <footer class="post-footer">
                    <a class="btn-small btn-color" href="{{ post.url }}">Leia Mais</a>
            </footer>
        </article>
        <div class="blog-divider"></div>
    {% endfor %}
</div>