{% include fetch_author_data.html author=include.post.author %}

<header class="post-header">
	<h3 class="content-title">
		<a class="titulo-post" href="{{ post.url }}">{{ include.post.title }}</a>
	</h3>
	<div class="blog-entry-meta">
		<div class="blog-entry-meta-date">
			<i class="icon-time"></i>
			{{ include.post.date | date: "%d/%m/%Y" }}
		</div>
		<div class="blog-entry-meta-author">
			<i class="icon-user"></i>
                        <a href="mailto:{{ author.email }}" class="blog-entry-meta-author">{{ author.name }}</a>
		</div>
		<div class="blog-entry-meta-tags">
			<i class="icon-circle"></i>
			{% for cat in include.post.categories %}
			<a href="/{{ cat }}">{{ cat }}</a>
			{% endfor %}
	    	</div>
		<div class="blog-entry-meta-tags">
			<i class="icon-tags"></i>
			{{ include.post.tags | join: ", " }}
		</div>
		{% if include.show_comments %}
		<div class="blog-entry-meta-comments">
			<i class="icon-comments"></i>
			<a href="{{ post.url }}#disqus_thread" ></a>
		</div>
		{% endif %}
	</div>
</header>

